appdirs==1.4.3
asgiref==3.2.3
autopep8==1.4.4
Babel==2.8.0
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==2.2.10
django-allauth==0.39.1
django-autoslug-iplweb==1.9.4
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-extra-views==0.11.0
django-haystack==2.8.1
django-heroku==0.3.1
django-oscar==2.0.4
django-phonenumber-field==2.0.1
django-tables2==1.21.2
django-tinymce4-lite==1.7.5
django-treebeard==4.3.1
django-widget-tweaks==1.4.5
factory-boy==2.12.0
Faker==4.0.1
filelock==3.0.12
gunicorn==19.6.0
idna==2.8
jsmin==2.2.2
oauthlib==3.0.1
pep8==1.7.1
phonenumbers==8.11.5
pillow==7.0.0
psycopg2==2.8.4
purl==1.5
pycodestyle==2.5.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
six==1.14.0
sqlparse==0.2.4
text-unidecode==1.3
urllib3==1.24.2
virtualenv==20.0.7
virtualenvwrapper-win==1.2.6
whitenoise==3.2.1
